{
  "extends": ["react-app", "airbnb"],
  "settings": {
    "import/core-modules": ["react-router"]
  },
  "rules": {
    "arrow-body-style" : "off",
    "prefer-destructuring": "off",
    "import/prefer-default-export": "off",
    "consistent-return": "off",
    "arrow-parens": [2, "as-needed", { "requireForBlockBody": false }],
    "react/no-unused-state" : "off",
    "react/jsx-wrap-multilines": "off",
    "react/destructuring-assignment": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "jsx-a11y/label-has-associated-control": "off",
    "react/button-has-type": "off",
    "jsx-a11y/label-has-for": "off",
    "jsx-closing-bracket-location": [1, "line-aligned"]
  }
}
