@import '../../../styles/base.module';

@mixin background-image-2x($path, $ext: "jpg") {
  $at1x_path: "#{$path}.#{$ext}";
  $at2x_path: "#{$path}@2x.#{$ext}";
  background-image: url("#{$at1x_path}");
  @media all and (min-device-pixel-ratio: 1.5) {
    background-image: url("#{$at2x_path}");
  }
}


.background {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  @include background-image-2x('./assets/burger_portrait-480');
  @include forDevice(phone-landscape-and-up) {
    @include background-image-2x('./assets/burger_portrait-640');
  }
  @include forDevice(tablet-portrait-and-up) {
    @include background-image-2x('./assets/burger_portrait-768');
  }
  @include forDevice(tablet-landscape-and-up) {
    @include background-image-2x('./assets/burger_landscape-1366');
  }
  @include forDevice(desktop-and-up) {
    @include background-image-2x('./assets/burger_landscape-1600');
  }
  @include forDevice(big-desktop-and-up) {
    @include background-image-2x('./assets/burger_landscape-1920');
  }
}
