@import '../../styles/base.module';

.landing {
  font-family: $default;

  background: $white;
  background-image: url(./landing-bg.jpg);
  background-size: cover;
  color: $black;
  height: 100vh;
  width: 100vw;
}
