@import '../../../styles/base.module';

.game {
  font-family: $burger;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  align-items: center;
  justify-items: stretch;
  color: palette(white);
  background: palette(black);
  margin-bottom: $xl;
  padding: $l;
  @include shadow-l;
}
