@import "~video-react/styles/scss/video-react";
@import './styles/base.module';

html {
  font-size: $font-size;
  font-family: $default;
}

button {
  font-family: $default;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}
