@import "~video-react/styles/scss/video-react";
@import './styles/base.module';

body {
  font-family: $burger;
}

html {
  font-size: $font-size;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  //font-family: $default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}
