@import '../../../styles/base.module';

.backdrop {

  position: fixed;
  z-index: 1;
  padding-top: 20vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal {
  background: palette(white);
  border-radius: calc(#{$s} / 2);
  padding: $l;
  @include shadow-s;
  margin: auto;
  width: 60vw;
}
