$black: #000;
$white: #fff;

@function color($key) {
  $colors: (
    red: #B03E2A,
    yellow: #CFAF3C,
    blue: #3C3DA5,
    green: #7CEA9C,
    orange: #E9602E,
    black: #000,
    white: #fff,
  );
  $color: map-get($colors, $key);
  @if ($color) {
    @return $color;

  } @else {
    @error '\000AThe color "#{$key}" doesn\'t exist, ';;
    @return null;
  }


}

$ketchup: color(red);
$mayo: color(yellow);

@function palette($key) {
  @return map-get($colors, $key);
}


@function palette($color-name, $level: 0) {
  $color-interval: 10%;
  $color: color($color-name);
  @return if(
    $level < 0,
    darken($color, $level * $color-interval),
    lighten($color, $level * $color-interval));
}
